
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body{
  background: #ababab;
  font-family: sans-serif;
  font-size: 16px;
}
ul li{
  list-style: none;
}
p{
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.6;
}
a{
  color: black;
  text-decoration: underline;
}
img{
  max-width: 100%;
}


h1, h2, h3, h4 {
  text-shadow: 1px 4px 1px rgba(0, 0, 0, 0.8);
  font-family: 'Bangers', sans-serif;
  letter-spacing: 3px;
  color: #fff;
}

h1{
  font-size: 90px;
}

h1 span{
    font-size: 30px;
    letter-spacing: 6px;
  }
}
h2{
  margin: 20px 0;
}
section{
  margin: 30px 0;
}

.code-j{
  color: yellow;
}
.code-tag{
  color: #FF4500;
}
.code-class{
  color: #32CD32;
}
pre{
  background: black;
  margin: 10px 0;
  color: #fff;
  padding: 10px;
}

.container{
  overflow: hidden;
  margin: 0 auto;
  max-width: 865px;
  position: relative;
}

.content{
  margin-left: 250px;
  width: 600px;
}
  
.sidebar{
  position: absolute;
  width: 200px;
  margin-top: 131px;
  background: #fff;
  border-radius: 4px;
  padding: 20px 0;
}

.sidebar.stickEmUp{
    position: fixed;
    margin-top: 10px;

  }
}


.sidebar_nav-item{
  margin: 10px 0;
}
.sidebar_nav-item-link{
  display: block;
}


